body
{
    background-color: aquamarine;
}
p
{
    font-size: 1.5em;
    background-color: cornsilk;
    border-style: dashed;
    border-width: 2px;
    width: 10em;
}
h1,h2
{
    background-color: brown;
}
div p
{
    background-color: chartreuse;
    width: 70%;
}
#content
{
    background-color: darkmagenta;
}
.quotation
{
    font-size: 2em;
}